%input {
	font-size: 24px;
	padding: 23px 54px;
	height: 75px;
	box-sizing: border-box;
}

body {
	background-color: #191919;
	color: #FFFFFF;
	font-family: 'Inter';
	font-size: 20px;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	font-weight: 400;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
h1, h2 {
	margin: 0;
}
p {
	margin: 6px 0;
}

.top {
	display: grid;
	align-items: center;
	padding: 30px 70px;
	font-size: 24px;
	.logo {
		width: 180px;
		height: 32px;
	}
	&__link {
		text-decoration: none;
		color: inherit;
		border: 1px solid #787878;
	}
	&__phone a {
		color: inherit;
		&:hover {
			color: rgba(0,0,0,.7);
		}
	}
}

.social {
	&__link {
		padding: 3px;
		color: inherit;
	}

	&__icon {
		width: 30px;
		height: 30px;
	}
}

.title {
	font-family: 'Bebas Neue';
	font-weight: 400;
	font-size: 98px;
	letter-spacing: -0.025em;
	text-transform: uppercase;
}

.jumbotron {
	display: flex;
	justify-content: center;
	&__title {
		line-height: 1.13;
		position: relative;
		z-index: 0;
		&::before {
			content: attr(data-text);
			position: absolute;
			top: 0;
			margin: inherit;
			-webkit-text-stroke: 14px #191919;
			z-index: -1;
			white-space: normal;
		}
		&:after {
			content: "";
			background: url("../images/fast-time.svg");
			display: inline-block;
			background-size: contain;
			height: .9em;
			aspect-ratio: 154/98;
			margin-left: .18em;
			transform: translateY(.07em);
		}
		span {
			white-space: normal;
		}
		&-container {
			display: flex;
			justify-content: center;
		}
	}
	&__svg {
		height: 112px;
	}
	&__container {
		box-sizing: border-box;
	}
}

.content {
	display: flex;
	justify-content: center;
	&__container {
		display: grid;
	}
	&__title {
		line-height: 1.5;
	}
	&__list {
		font-family: 'Bebas Neue', serif;
		font-size: 48px;
		line-height: 1.5;
		letter-spacing: -1.2px;
		list-style: none;
		padding: 0;
		margin: 0;
		&-item {
			display: flex;
			align-items: center;
			&:before {
				content: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2241%22%20height%3D%2241%22%20viewBox%3D%220%200%2041%2041%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M18.3231%2031.0698L34.4269%2014.966C34.7591%2014.6338%2034.9253%2014.2404%2034.9253%2013.7857C34.9253%2013.3311%2034.7591%2012.9377%2034.4269%2012.6055L31.7517%209.93028C31.4195%209.59806%2031.0261%209.43195%2030.5715%209.43195C30.1168%209.43195%2029.7234%209.59806%2029.3912%209.93028L17.1429%2022.1786L11.6089%2016.6446C11.2766%2016.3123%2010.8832%2016.1462%2010.4286%2016.1462C9.97399%2016.1462%209.58058%2016.3123%209.24836%2016.6446L6.57314%2019.3198C6.24092%2019.652%206.07481%2020.0454%206.07481%2020.5C6.07481%2020.9546%206.24092%2021.3481%206.57314%2021.6803L15.9626%2031.0698C16.2949%2031.402%2016.6883%2031.5681%2017.1429%2031.5681C17.5975%2031.5681%2017.9909%2031.402%2018.3231%2031.0698ZM40.6429%207.91075V33.0893C40.6429%2035.17%2039.9041%2036.9492%2038.4267%2038.4267C36.9492%2039.9041%2035.17%2040.6429%2033.0893%2040.6429H7.91075C5.83002%2040.6429%204.05091%2039.9041%202.57342%2038.4267C1.09592%2036.9492%200.357178%2035.17%200.357178%2033.0893V7.91075C0.357178%205.83002%201.09592%204.05091%202.57342%202.57342C4.05091%201.09592%205.83002%200.357178%207.91075%200.357178H33.0893C35.17%200.357178%2036.9492%201.09592%2038.4267%202.57342C39.9041%204.05091%2040.6429%205.83002%2040.6429%207.91075Z%22%20fill%3D%22%23F3CD20%22%2F%3E%0A%3C%2Fsvg%3E");
				width: 41px;
				height: 41px;
				margin-right: 20px;
				flex-shrink: 0;
				display: inline-flex;
			}
		}
	}
}

.form {
	background: #FFF;
	box-sizing: border-box;
	padding: 56px;
	display: grid;
	gap: 10px;

	&__input {
		color: #787878;
		border: 1px solid #787878;
		width: 100%;
		@extend %input;
		&.error {
			border-color: red;
		}
	}
	&__button {
		width: 100%;
		border: none;
	}
	&__footer {
		margin-top: 12px;
	}
	&__group {
		.error {
			color: red;
		}
	}
}

.btn {
	@extend %input;
	cursor: pointer;
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&--yellow {
		background-color: #F3CD20;
		color: #000;
		&:hover {
			background-color: #191919;
			color: white;
		}
	}
}

footer {
	margin: 40px 70px;
}
.shops {
	display: grid;
	&__body {
		display: flex;
		column-gap: 30px;
	}
	&__title {
		font-size: 33px;
		line-height: normal;
		padding: 30px 0;
		border-bottom: 1px solid rgba(255,255,255,.2);
	}
	&__addr {
		padding-right: 30px;
		padding-top: 20px;
		padding-bottom: 10px;
		.first-line {
			text-transform: uppercase;
		}
	}
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background: #fff;
	width: 400px;
	padding: 50px;
	transition: 0.5s all;

	&.active {
		transform: translate(-50%, -50%) scale(1);
		transition: 0.5s all;
	}
	&__body {
		padding-top: 25px;
		color: #323232;
		text-align: center;
	}
	&__bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.5);
		opacity: 0;
		pointer-events: none;
		transition: 0.5s all;
		&.active {
			opacity: 1;
			pointer-events: all;
			transition: 0.5s all;
		}
	}
}

.close-popup {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	width: 26px;
	height: 26px;
	color: #323232;
}

@media only screen and (min-width: 1200px) {
	.top {
		position: absolute;
		width: 100%;
		box-sizing: border-box;
		min-height: 100px;
		color: #000;
		grid-template-columns: 1fr repeat(3, auto);
		column-gap: 30px;
	}

	.btn {
		&--transparent {
			&:hover {
				background-color: #191919;
				border-color: #191919;
				color: white;
			}
		}
	}

	.social {
		mix-blend-mode: difference;
		color: #f3cd20;
		&__link {
			&:hover {
				color: rgba(243,205,32,.7);
			}
		}
	}

	.jumbotron {
		background: linear-gradient(45deg, transparent 0%, transparent 1010px, rgb(243, 205, 32) 1010px);
		padding-top: 140px;
		min-height: 990px;
  		box-sizing: border-box;

  		&__container {
			max-width: 1159px;
			position: relative;
			padding: 30px 70px;
  		}
	}
	.content {
		margin: 200px 0;
		&__container {
			max-width: 1459px;
			width: 100%;
			grid-template-columns: 1fr 1fr;
		}
		&__form {
			justify-self: end;
		}
	}
	.shops {
		grid-template-columns: 1fr 1fr;
		gap: 50px;
	}
	.form {
		min-width: 573px;
	}
}

@media only screen and (max-width: 1199px) {
	.top {
		grid-template-columns: 1fr auto;
		min-height: 140px;
		row-gap: 24px;
		&__phone {
			grid-row-start: 1;
			grid-column-start: 2;
			border-bottom: 1px solid #DDD;
			align-self: end;
			padding-bottom: 24px;
			min-height: 32px;
			display: inline-flex;
			justify-content: end;
			& > a:hover {
				color: rgba(243,205,32,1);
			}
		}
		&__logo {
			border-bottom: 1px solid #DDD;
			align-self: end;
			padding-bottom: 24px;
		}
	}

	.social {
		grid-row-start: 2;
		color: inherit;
		&__link {
			&:hover {
				color: rgba(243,205,32,1);
			}
		}
	}

	.btn {
		&--transparent {
			&:hover {
				border-color: rgba(243,205,32,1);
				color: rgba(243,205,32,1);
			}
		}
	}

	.jumbotron {
		background-color: rgb(243, 205, 32);
		&__container {
			padding: 30px 90px;
		}
		&__title-container {
			justify-content: flex-start;
		}
	}

	.content {
		margin: 75px 0;
		&__container {
			row-gap: 60px;
			width: 100%;
			margin: 0 70px;
		}
	}
}
@media only screen and (min-width: 992px) {
	.shops {
		border-top: 1px solid rgba(255,255,255,.2);
		&__addr {
			flex-basis: 50%;
			flex-grow: 1;
			&:nth-last-child(n + 2) {
				border-right: 1px solid rgba(255,255,255,.2);
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	.shops {
		row-gap: 50px;
		&__body {
			flex-direction: column;
		}
		&__addr {
			flex-basis: 100%;
			flex-shrink: 0;
			&:nth-last-child(n + 2) {
				border-bottom: 1px solid rgba(255,255,255,.2);
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	body {
		font-size: 18px;
	}
	.top {
		.logo {
			width: 114px;
			height: 20px;
		}
	}
	.title {
		font-size: 60px;
	}
	.jumbotron {
		&__title {
			&::before {
				-webkit-text-stroke: 7px #191919;
			}
		}
		&__container {
			padding: 30px 20px;
		}
	}
	.top {
		font-size: 16px;
		padding: 30px 20px;
		&__phone {
			min-height: 20px;
		}
	}
	%input {
		font-size: 16px;
		padding: 13px 25px;
		height: 45px;
	}
	.content {
		&__list {
			font-size: 26px;
			letter-spacing: -0.65px;
			&-item::before {
				width: 25px;
				height: 25px;
			}
		}
		&__container {
			margin: 0 20px;
		}
	}
	.shops__title {
		font-size: 24px;
	}
	footer {
		margin: 40px 20px;
	}
	.form {
		padding: 20px;
	}
}
@media only screen and (max-width: 600px) {
	.social {
		grid-row-start: 3;
		grid-column-end: 3;
		grid-column-start: 1;
		text-align: center;
	}
	.top__button {
		grid-column-start: 1;
		grid-column-end: 3;
		.btn {
			width: 100%;
		}
	}
}